* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.007);
  --surface-color-hover: rgba(255, 255, 255, 0.1);
  --social-link-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --switch-right: 0;
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.144);
  --surface-color-hover: rgba(0, 0, 0, 0.5);
  --social-link-hover: rgba(0, 0, 0, 0.5);
  --switch-bg-url: url(./assets/sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-right: 1;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 350px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#profile p {
  margin-top: 8px;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  animation: slide-back 0.4s forwards;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.light #switch button {
  animation: slide 0.4s forwards;
}

#switch span {
  border-radius: 9999px;
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(8px);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}

li a ion-icon {
  margin-right: 10px;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: 0.5s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
